<app-private-menu></app-private-menu>

<div class="album py-5 bg-light">
  <h1 class="text-center">Jewellery</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let jewellery of jewelleries">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" alt="{{ jewellery.name }}" src="{{getJewelleryImage(jewellery)}}">
          <div class="card-body">
            <h4 class="text-center">{{ jewellery.name }}</h4>
            <p><span class="mr-1"><strong>${{jewellery.price}}</strong></span></p>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToDetails(jewellery._id)">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>